const div = document.createElement('div');
div.innerHTML = '<custom-style><style include="${theme}-color ${theme}-typography"></style></custom-style>';
document.head.insertBefore(div.firstElementChild, document.head.firstChild);