package ${applicationPackage}

import com.vaadin.flow.component.dependency.CssImport
import com.vaadin.flow.component.UI
import com.vaadin.flow.theme.${applicationBaseTheme.toLowerCase()}.${applicationBaseTheme.toLowerCase().capitalize()}
import com.vaadin.flow.theme.Theme

@CssImport("./styles/${applicationTheme}")
@Theme(${applicationBaseTheme.toLowerCase().capitalize()})
class ${applicationName}UI extends UI { }
