package ${applicationPackage};

import com.vaadin.flow.component.dependency.HtmlImport;
import com.vaadin.flow.component.UI;
import com.vaadin.flow.theme.${applicationBaseTheme.toLowerCase()}.${applicationBaseTheme.toLowerCase().capitalize()};
import com.vaadin.flow.theme.Theme;

@HtmlImport("index.html")
@HtmlImport("frontend://styles/${applicationTheme}")
@Theme(${applicationBaseTheme.toLowerCase().capitalize()}.class)
public class ${applicationName}UI extends UI {

}
