package ${componentPackage}

import com.vaadin.flow.component.Component
import com.vaadin.flow.component.Tag
import com.vaadin.flow.component.dependency.JsModule

@Tag('${componentTag}')
@JsModule('${dependencyPackage}/src/${dependencyHtml}.js')
class ${componentName} extends Component {

    ${componentName}() {

    }
}

