<link rel="import" href="../bower_components/polymer/polymer-element.html">

<dom-module id="${componentTag}">
    <template>
        <div id="caption" on-click="sayHello">[[caption]]</div>
    </template>
    <script>
        class ${componentName} extends Polymer.Element {
            static get is() {
                return '${componentTag}'
            }
        }
        customElements.define(${componentName}.is, ${componentName});
    </script>
</dom-module>
